# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Test/cache
.pytest_cache/
.coverage

# Generated outputs
outputs/*
!outputs/.gitkeep

# Spark
spark-warehouse/
metastore_db/
derby.log

# Editors and OS
.vscode/
.idea/
.DS_Store
Thumbs.db

#data
data/nasa_access_log_aug95_sample.txt